<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./css/csv.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h3>upload new csv file</h3>
            <form id="form" action="/submit" method="POST" enctype="multipart/form-data">
                <input onclick="rese()" id="file" type="file" name="CSV" accept=".csv">
                <input id="submit"  type="submit">
            </form>
        </header>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search from first column" title="Type in a name">
        <div id="table">
          
        </div>
    </body>
    <script type="text/javascript" src="./js/csv_ajax.js"></script>
    <script>
        // console.log(result);
        // var obj = JSON.parse(result);
    </script>
</html>