<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <p>upload csv file</p>
            <form action="">
                <input type="file" name="CSV">
                <input type="submit">
            </form>
        </header>
    </body>
</html>